extends layout

block content
    h1(class="cover-heading") Bandersguru
    p(class="lead") Will you get the job?
    p(class="lead") 
        a(href="/scenarios" class="btn btn-lg btn-secondary") Let's Play!
    